# CASE STUDY 4

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

# Uploading data into the python environment

In [7]:
data = pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# QUESTION 1

# Stating hypothesis

# Null hypothesis (H0) : Average sales before digital add is equal to average sales after digital add

# Alternate hypothesis (H1) : Average sales after digital add is greater than average sales before digital add

In [17]:
x = data['Sales_before_digital_add(in $)']
y = data['Sales_After_digital_add(in $)']

# Mean sales before digital add

In [10]:
x.mean()

149239.95454545456

# Mean sales after digital add

In [26]:
y.mean()

231123.72727272726

# indepedent t test

In [11]:
stats.ttest_ind(x,y)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

# QUESTION 2

# Finding counts for category 'Region'

In [13]:
data['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

# Finding counts for category 'Manager'

In [25]:
data['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

# Stating hypothesis
# Null hypothesis (H0) : There is no significant relationship between 'Region' and 'Manager'
# Alternate hypothesis (H1) : There is significant relationship between 'Region' and 'Manager'

# Constructing contingency table

In [20]:
data1 = pd.crosstab(data.Region, data.Manager, margins=True)
data1

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

# independent chi-square test

In [21]:
data2 = np.array([a.iloc[0][0:3].values,
                  a.iloc[1][0:3].values,
                a.iloc[2][0:3].values])
stats.chi2_contingency(obs)[0:3]

(3.050566893424036, 0.5493991051158094, 4)